
#header h1{
  font-size: 50px;
}
#header, #footer{
  clear: left;
}
html{
  width: 950px;
  margin: auto;
}
body {
  background-color: rgb(104,187,285);
}
h1{
  font-size: 8px;
  color: black;
  text-align: center;
}
h2{
  font-size: 20px;
  text-align: center;
}
h3{
  font-size: 30px;
  color: black;
  text-align: center;
}
p {
  font-size: 20px;
}
img{
  max-width: 30%;
  max-height: 30%;
}
#container{
  width: 100%;
}
#left-box{
  float: left;
  max-width: auto;
  height: 700px;
  margin: 0;
  padding: 0;
  background-color: rgb(9,30,45);
  color: rgb(255, 255, 255);
}
#experiences-box{
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 350px;
  background-color: rgb(255,255,255);
}
#experiences-box p{
  text-align: center;
}
#studies-box{
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 350px;
  background-color: rgb(255, 255, 255);
}
#studies-box p{
  text-align: center;
}
#footer{
  margin-top: 0px;
  height: 150px;
  background-color: rgb(26,26,26);
}
